.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 140px;
    z-index: 999;
}

.fixed2 {
    position:fixed;
    bottom: 0;
    right: 1;
    width: 300px;
    z-index: 999;
}

#logo {
    cursor:pointer;
}

#ene {
    cursor:pointer;
}

p {
    color: white;
    font-size: 30px;
}

.table {
    width: 100%;
    height: auto;
}

.img1 {
    height: 450px;
    float: left;
    margin: 20px;
}
.img2 {
    height: 450px;
    float: right;
    margin: 20px;
}

body {
    background-color: black;
}