.body {
    border: 20px solid #bdc3c7;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    font-family: 'Source Sans Pro, sans-serlf';
    max-width: 700px;
    font-size: 16px;
}

#ene {
    cursor:pointer;
}

.fixed {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 140px;
     z-index: 999;
}

h2 {
    font-size: 2rem;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date {
    color: #5096d3;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

hr {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0);
}