#ene {
    cursor:pointer;    
}

.fixed {
   position: fixed;
   bottom: 0;
   right: 0;
   width: 140px;
   z-index: 999;
}

h1 {
    margin: 200px 100px;
    text-align: center;
}

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}

td:hover {
    border: 1px solid grey;
}

.td1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.td2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.red {
    background-color: rgba(255, 0, 0, 0.1);
}
.red:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.orange {
    background-color: rgba(255, 165, 0, 0.1);
}
.orange:hover {
    background-color: rgba(255, 165, 0, 0.2);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.1);
}
.yellow:hover {
    background-color: rgba(255, 255, 0, 0.2);
}

.green {
    background-color: rgba(0, 255, 0, 0.1);
}
.green:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.blue {
    background-color: rgba(0, 0, 255, 0.1);
}
.blue:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.indigo {
    background-color: rgba(43, 0, 255, 0.1);
}
.indigo:hover {
    background-color: rgba(43, 0, 255, 0.2);
}

.purple {
    background-color: rgba(87, 0, 255, 0.1);
}
.purple:hover {
    background-color: rgba(87, 0, 255, 0.2);
}